<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--<div class="alert alert-success" role="alert">-->
<!--  <h4 class="alert-heading">Well done!</h4>-->
<!--  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>-->
<!--  <hr>-->
<!--  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>-->
<!--</div>-->