<div class="d-flex justify-content-center">
  <div style="border-radius: 50px; background-color: #FFFFFF; width: 95px; height: 95px; margin-bottom: -40px; z-index: 1;">
    <div style="width: 75px; height: 75px; border-radius: 50px; margin-top: 10px; margin-left: 10px; background-image: linear-gradient(#377DFF, #2DC9EA);">
      <%= image_tag 'photos/report1.png', style: "margin-right: -26px; margin-top: 15px; margin-left: 20px" %>
      <%= image_tag 'photos/report2.png', style: "margin-right: 6px; margin-top: 25px" %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div style="background-color: #FFFFFF; padding: 50px; border-radius: 20px">
    <h4 class="d-flex justify-content-center">All Users</h4>
    <p class="d-flex justify-content-center">Posts, comments and likes count</p>

    <div class="my-5">
      <form name="forms">
        <div class="d-flex">
          <div style="margin-left: 20px">
            <input type="radio" name="download" value="excel" id="download_excel">
            <label for="download_excel" style="">Excel</label>
          </div>
          <div style="padding-left: 80px">
            <input type="radio" name="download" value="csv" id="download_csv">
            <label for="download_csv" style="">CSV</label>
          </div>
        </div>
        <br>
        <div class="my-5 d-flex justify-content-center">
          <input type="button" value="Download" id="download_btn" class="btn btn-primary px-5 py-2">
        </div>
      </form>
    </div>
  </div>
</div>

















