<h1 class="d-flex justify-content-center mt-5">Report</h1>

<div class="container" , style="background-color: #F9FAFB; padding: 30px">
  <div>
    <div style="width: 70px; margin: 40px 40px 40px 40px; background-color: #FFFFFF; background-image: linear-gradient(#377DFF, #2DC9EA); border-radius: 100px; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);">
      <%= image_tag 'photos/report1.png', style: "padding: 20px;" %>
      <%= image_tag 'photos/report2.png', style: "margin-left: -42px; margin-top: 10px" %>
    </div>
    <div style="background-color: #FFFFFF; padding: 50px">
      <strong>All users</strong>
      <p>Posts,comments and likes count</p>
    </div>
  </div>
</div>